rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow read & write for gallery items
    match /gallery/{document=**} {
      allow read, write: if true;
    }

    // Allow read & write for quotes
    match /quotes/{quoteId} {
      allow read, write: if true;
    }

    // Allow read & write for users
    match /users/{userId} {
      allow read, write: if true;
    }

    // Default fallback
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

